### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
my_tuple = tuple(range(1,11))
my_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [2]:
print(f"First Element: {my_tuple[0]}")
print(f"Middle Element: {my_tuple[len(my_tuple) // 2]}")
print(f"Last Element: {my_tuple[-1]}")

First Element: 1
Middle Element: 6
Last Element: 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [3]:
print(f"First Three Elements: {my_tuple[0:3]}")
print(f"Last Three Element: {my_tuple[-3:]}")
print(f"Index 2 to 5: {my_tuple[2:6]}")

First Three Elements: (1, 2, 3)
Last Three Element: (8, 9, 10)
Index 2 to 5: (3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [4]:
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
for item in nested_tuple:
    print(item)

nested_tuple[1][2]

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [5]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

concatenated_tuple = tuple1 + tuple2
concatenated_tuple

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [6]:
my_tuple = (1, 1, 1, 2, 2, 3, 4, 5, 5, 6, 6, 6)
print("Count of Occurance of an Element: ", my_tuple.count(1))
print("Index of First Occurance of an Element: ", my_tuple.index(2))

Count of Occurance of an Element:  3
Index of First Occurance of an Element:  3

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [7]:
my_tuple = (1, 2, 3, 4, 5)
a, b, c, d, e = my_tuple

print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [8]:
my_list = list(range(1,6))
my_tuple = tuple(my_list)
my_tuple

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [9]:
my_tuple = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

my_tuple

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [10]:
my_tuple = tuple(range(1, 6))
tuple_to_list = list(my_tuple)
tuple_to_list.append(6)
list_back_to_tuple = tuple(tuple_to_list)
list_back_to_tuple

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [11]:
string = "hello"
my_tuple = tuple(string)
joined_string = ''.join(my_tuple)
joined_string

'hello'

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [12]:
my_tuple_dictionary = {
    ("a", "aa"): 1,
    ("b", "bb"): 2,
    ("c", "cc"): 3
}
print(my_tuple_dictionary)

{('a', 'aa'): 1, ('b', 'bb'): 2, ('c', 'cc'): 3}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [13]:
nested_tuple = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item)

1
2
3
4
5
6
7
8
9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [14]:
my_tuple = (1, 1, 1, 2, 2, 3, 4, 5, 5, 6, 6, 6)
tuple_to_set = set(my_tuple)
tuple_to_set

{1, 2, 3, 4, 5, 6}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [15]:
my_tuple = tuple(range(1, 16))

def get_elements(my_tuple):
    minimum = min(my_tuple)
    maximum = max(my_tuple)
    sum_of_tuple = sum(my_tuple)

    return minimum, maximum, sum_of_tuple

minimum, maximum, sum_of_tuple = get_elements(my_tuple)

print("Maximum: ", maximum)
print("Minimum: ", minimum)
print("Sum: ", sum_of_tuple)

Maximum:  15
Minimum:  1
Sum:  120