### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [1]:
my_set = set(range(1, 11))
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [2]:
my_set.add(11)
my_set.remove(1)
my_set

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [3]:
set1 = set(range(1, 6))
set2 = set(range(1, 11, 2))

print("Union: ", set1.union(set2))
print("Intersection: ", set1.intersection(set2))
print("Difference: ", set1.difference(set2))
print("Symmetric Difference: ", set1.symmetric_difference(set2))

Union:  {1, 2, 3, 4, 5, 7, 9}
Intersection:  {1, 3, 5}
Difference:  {2, 4}
Symmetric Difference:  {2, 4, 7, 9}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [4]:
positive_set = {x**2 for x in range(1, 11)}
positive_set

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [5]:
even_set = {number for number in my_set if number%2 == 0}
even_set

{2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [6]:
my_set = {1, 2, 3, 4, 4, 4}
unique_set = set(my_set)
unique_set

{1, 2, 3, 4}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [7]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

print("Set2 is a subset of Set1: ", set2.issubset(set1))
print("Set1 is a superset of Set2: ", set1.issuperset(set2))

Set2 is a subset of Set1:  True
Set1 is a superset of Set2:  True

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [8]:
frozen_set = frozenset(range(1, 6))
frozen_set

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [9]:
my_set = {1, 2, 3, 4, 5}
set_to_list = list(my_set)
set_to_list.append(6)
back_to_set = set(set_to_list)
back_to_set

{1, 2, 3, 4, 5, 6}

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [10]:
set_dictionary = {
    frozenset({1, 2}): 3,
    frozenset({3, 4}): 7,
    frozenset({5, 6}): 11
}
print(set_dictionary)

{frozenset({1, 2}): 3, frozenset({3, 4}): 7, frozenset({5, 6}): 11}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [11]:
my_set = {1, 2, 3, 4, 5}

for item in my_set:
    print(item)

1
2
3
4
5

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [12]:
my_set = {1, 2, 3, 4, 5}

while my_set:
    my_set.pop()
    print(my_set)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [13]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

set1.symmetric_difference_update(set2)
set1

{4, 5}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [14]:
my_set = {1, 2, 3, 4, 5}

print(3 in my_set)
print(7 in my_set)

True
False

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [15]:
my_tuple_set = {(1, 2), (3, 4)}
my_tuple_set

{(1, 2), (3, 4)}