# Map Function

The map() function applies a given function to all items in an input list(or any other iterable) and returns a map object (an iterator). This is particulary useful for transforming data in a list comprehensively

In [1]:
def square(x):
    return x**2

square(10)

100

In [2]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def square(numbers):
    square_list = []
    for number in numbers:
        square_list.append(number**2)

    print(square_list)

square(numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def square(numbers):
    return numbers**2

list(map(square, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Lambda Function with map()

In [4]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x:x*x, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Mapping Multiple Iterables

In [5]:
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]

added_numbers = list(map(lambda x, y: x + y, numbers1, numbers2))
added_numbers

[5, 7, 9]

## Conversion

In [6]:
## map to convert a list of strings to integers

str_numbers = ['1', '2', '3', '4', '5']
int_numbers = list(map(int, str_numbers))
int_numbers

[1, 2, 3, 4, 5]

## Inbuilt Functions with Map

In [7]:
words = ['apple', 'banana', 'orange']

upper_word = list(map(str.upper, words))
upper_word

['APPLE', 'BANANA', 'ORANGE']

## Map Function to a Dictionary

In [8]:
def get_names(person):
    return person['name']

people = [
    {'name': 'Saad', 'age':28},
    {'name': 'Joe', 'age':33},
]

list(map(get_names, people))

['Saad', 'Joe']