## Import Libraries

In [1]:
import nltk
from nltk.tokenize import (
    sent_tokenize, word_tokenize, 
    wordpunct_tokenize, TreebankWordTokenizer
)
import warnings

warnings.filterwarnings('ignore')

## Paragraph into Sentences

In [2]:
corpus = """Hello, My name is Saad Tariq and I have a interest in learning Machine Learning. 
I am also a Data Scientist by profession.
"""

print(corpus)

Hello, My name is Saad Tariq and I have a interest in learning Machine Learning.
I am also a Data Scientist by profession.

In [3]:
documents = sent_tokenize(text=corpus)
documents

['Hello, My name is Saad Tariq and I have a interest in learning Machine Learning.',
 'I am also a Data Scientist by profession.']

In [4]:
for sentence in documents:
    print(sentence)

Hello, My name is Saad Tariq and I have a interest in learning Machine Learning.
I am also a Data Scientist by profession.

## Paragraph into Words

In [5]:
words = word_tokenize(corpus)
words

['Hello',
 ',',
 'My',
 'name',
 'is',
 'Saad',
 'Tariq',
 'and',
 'I',
 'have',
 'a',
 'interest',
 'in',
 'learning',
 'Machine',
 'Learning',
 '.',
 'I',
 'am',
 'also',
 'a',
 'Data',
 'Scientist',
 'by',
 'profession',
 '.']

In [6]:
for sentence in documents:
    print(word_tokenize(sentence))

['Hello', ',', 'My', 'name', 'is', 'Saad', 'Tariq', 'and', 'I', 'have', 'a', 'interest', 'in', 'learning', 'Machine', 'Learning', '.']
['I', 'am', 'also', 'a', 'Data', 'Scientist', 'by', 'profession', '.']

In [7]:
for word in words:
    print(word)

Hello
,
My
name
is
Saad
Tariq
and
I
have
a
interest
in
learning
Machine
Learning
.
I
am
also
a
Data
Scientist
by
profession
.

## Punctuation Words

In [8]:
wordpunct_tokenize(corpus)

['Hello',
 ',',
 'My',
 'name',
 'is',
 'Saad',
 'Tariq',
 'and',
 'I',
 'have',
 'a',
 'interest',
 'in',
 'learning',
 'Machine',
 'Learning',
 '.',
 'I',
 'am',
 'also',
 'a',
 'Data',
 'Scientist',
 'by',
 'profession',
 '.']

## Treebank Word Tokenizer

In [9]:
tree_bank_tokenizer = TreebankWordTokenizer()
tree_bank_tokenizer.tokenize(corpus)

['Hello',
 ',',
 'My',
 'name',
 'is',
 'Saad',
 'Tariq',
 'and',
 'I',
 'have',
 'a',
 'interest',
 'in',
 'learning',
 'Machine',
 'Learning.',
 'I',
 'am',
 'also',
 'a',
 'Data',
 'Scientist',
 'by',
 'profession',
 '.']